html, body{
    background-color: #e9e9e9;
    height: 100%;
}
#altura{
    height: 100%;
}
h1{
    text-align: center;
}

#principal{
    background-color: white;
    border-left: 10px groove #FFB200;
    border-right: 10px ridge #FFB200;
    padding: 5% 2% 5% 2%;
}